.image-container img {
  margin: 10px;

  transition: 0.5s;
}

.image-container {
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
}

.image-container:hover img {
  transform: scale(1.02);
}
.image-container pre {
  position: absolute;
  border: 2px;
  border-radius: 1px;
  opacity: 0.6;
  box-sizing: border-box;
  overflow: hidden;
  top: 0px;
  left: 0px;
  margin: 10px;
  transition: 0.5s;
  background: white;
}

.image-container:hover pre {
  transform: translate(8px, 0px) scale(1.02) !important;
}

.flip-move {
  transition: transform 1s;
}
